<div class="<%= comment.owner == @user ? "current-user-comment" : cycle('listing-line-odd', 'listing-line-even') %> comment-body">
  
  <span style="font-size :70%;"> comment by <%= "#{comment.owner.display_name}     #{comment.created_at.to_s(:short)}" %> </span><br/>
  <div id="comment_body_<%= comment.id %>">  <%= comment.body %></div>
   <% if comment.owner == @user  %>
  <%= in_place_rich_editor "comment_body_#{comment.id}"  ,:url => { :controller => :comments, :action => :set_comment_body, :post_id => @post.id, :id => comment.id, :uid => params[:uid]}, :mode => 'tinymce_advanced_with_save_options' %>
  


  <% end %>
</div>
