<div class="<%= comment.owner == @user ? "current-user-comment" : cycle('listing-line-odd', 'listing-line-even') %> comment-body">
  
  <span style="font-size :70%;"> comment by <%= "#{comment.owner.display_name}     #{comment.created_at.to_s(:short)}" %> </span><br/>
  <div id="comment_body_<%= comment.id %>">  <%= comment.body %></div>
   <% if comment.owner == @user  %>
  <%= in_place_rich_editor "comment_body_#{comment.id}"  ,:url => { :controller => :comments, :action => :set_comment_body, :post_id => @post.id, :id => comment.id, :uid => params[:uid]}, :mode => 'tinymce_advanced_with_save_options' %>
  
  <%= link_to_function "reply", visual_effect(:toggle_blind, "reply#{comment.id}", :duration => 0.5) %><br/><br/>
  <div id= reply<%="#{comment.id}"%> style="display: none;">

      <div class="comment-body new-comment">
        <%  @comment = Comment.new(:body => "Click here to add your comment") %>
         <span style="font-size :70%;"> comment by <%= "#{@user.display_name}    #{Time.now.to_s(:short)}" %> </span><br/>

        <%= in_place_rich_editor_field :comment, :body ,{},:url => { :controller => :comments, :action => :create, :post_id => @post.id, :uid => params[:uid]}, :mode => 'tinymce_advanced_with_save_options' %>
      </div>

  </div>

  <% end %>
</div>
