
Hi Engagevia Admin!<br/><br/>

Yohoo! You've got feedback from <em><%= @user.first_name %> <%= @user.last_name %></em> (<%= @user.email %>)<br/> 
<br/><br/>

<p> 
Comment says <em><%= @experience.feedback_type %></em>
</p>
<br/>

<p>
  Feedback details:
  <%= @experience.description %>
</p>  
