
<div style="font-family:Georgia;margin: 10%;">
<div>
<%= image_tag "evlogo.png", :size=>'251x53' %>
<hr/>
</div>

Hi there!<br/><br/>

<%= @post.owner.display_name  %> has started a conversation on
<em><%= @post.subject %></em> and is requesting you to join!<br/>

Please visit this link to engage in this conversation:<br/>

   <%= link_to @post_url, @post_url %>  <br/><br/>
 <p>
IMPORTANT NOTE: Please do not forward this mail or share this link provided to you <br/>
 as a way of inviting friends.<br/>

 To invite, please visit the link and invite from there.<br/>
 Each one of your invitees will then get their own unique link.<br/>

If the above link does not work try copying and pasting it into your browser.<br/>
If you continue to have problem please feel free to contact us.<br/>
</p>

Happy Engaging,<br/>
-EngageVia Team<br/>

<hr/>
<%= link_to 'EngageVia', "http://www.engagevia.com" %> is an online tool for engaging with friends in your cirle and <br/>
your extended circle on topics of common interest. <br/><br/>
<hr/>

NOTE:<br/>
<span style="font-size:85%;color:#333333;">
If you do not know <%= @post.owner.display_name  %>, please ignore this email and <br/>
we sincerely apologize for the inconvenience.
</span>
</div>