<% form_for(@user, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %> (required)<br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :first_name %> (required)<br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %> (required)<br />
    <%= f.text_field :last_name %>
  </p>
   <p>
    <%= f.label :username, "Twitter ID" %> (optional)<br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :facebook_link %>  (optional)<br />
    <%= f.password_field :facebook_link %>
  </p>
    <p>
    <%= f.label :linkedIn_link %>  (optional)<br />
    <%= f.password_field :linkedIn_link %>
  </p>
    <p>
    <%= f.label :blog_link %>  (optional)<br />
    <%= f.password_field :blog_link %>
  </p>
  <p>
  <%= f.label :avatar %><br />
  <%= f.file_field :avatar %>
</p>
  <p>
    <%= f.submit button_type %>
    <%  if button_type == 'Update' %>
      |<%= link_to ' Cancel', @user %>
    <% end %>
  </p>
<% end %>

