<% form_for(@user, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %> (required)<br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :first_name %> (required)<br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %> (required)<br />
    <%= f.text_field :last_name %>
  </p>
  
  <p>
    <% if controller.action_name == 'edit' %>
        <h4> Change Password </h4> 
        <%= f.label :password, "New Password" %><br />
    <% else %>
        <%= f.label :password %><br />
    <% end %>    
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>

  <hr/>
  <h3>Optional - You can fill this later as well</h3>
   <p>
    <%= f.label :username, "Twitter ID" %><br />
    <%= f.text_field :username %>
  </p>
   <p>
    <%= f.label "Facebook Profile" %><br />
    <%= f.text_field :facebook_link %>
  </p>
    <p>
    <%= f.label "LinkedIn Profile" %><br />
    <%= f.text_field :linked_in_link %>
  </p>
    <p>
    <%= f.label "Your Blog" %><br />
    <%= f.text_field :blog_link %>
  </p>
  <p>
  <%= f.label :avatar %><br />
  <%= f.file_field :avatar %>
</p>
  <p>
    <%= f.submit button_type %>
    <%  if button_type == 'Update' %>
      or <%= link_to ' Cancel', @user %>
    <% end %>
  </p>
<% end %>

