<% unless @all_contacts.values.empty? %>
  <div class="heading">My Contacts</div>
<% end %>

<% @all_contacts.values.each do |contact| %>
<%  next if contact.id == current_user.id %>
<div class="contact <%= cycle('listing-line-odd', 'listing-line-even') %>">
  <div class="contact-name"><%= contact.display_name %></div>
  <div class="contact-info"><%= "email: " + contact.email unless contact.email.blank? %></div>
  <div class="contact-info"><%= "twitter: @" + contact.screen_name unless contact.screen_name.blank? %></div>
  <div class="contact-info"><%= "Tags: " + contact.tag_list unless contact.tag_list.blank? %></div>
</div>
<% end %>
