<% if !followers.blank? %>

    <%  form_remote_tag :url => { :controller => 'engagements', :action => "create", :post_id => "#{@post.id}", :invite_type => 'twitter', :twitter_id => "#{params[:twitid]}",:twitter_passwd => "#{params[:twitp]}" } do %>
          <ul>
            <% for follower in followers %>
              <li>
                <%= check_box_tag "followers[]", follower.screen_name %>
                <%= follower.name %>
              </li>
            <% end %>
              <% for follower in followers %>
              <li>
                <%= check_box_tag "followers[]", follower.screen_name %>
                <%= follower.name %>
              </li>
            <% end %>
            </ul>
           <div id="twit-invite-btn" style="margin: 10px;">
                <%= submit_tag 'Send Twitter Invites' %>
           </div>
    <% end %>

<% else %>
  <%= @error_message %>
<% end %>