<script type="text/javascript">
  function openWindow(url) {
    var w = 480, h = 340;

      if (document.all) {
         /* the following is only available after onLoad */
         w = document.body.clientWidth;
         h = document.body.clientHeight;
      }
      else if (document.layers) {
         w = window.innerWidth;
         h = window.innerHeight;
      }
      var popW = 800, popH = 450;
      var leftPos = (w)/2, topPos = (h)/2;
      window.open(url, 'Authorize','width=' + popW + ',height='+popH+',top='+topPos+ ',left='+leftPos);

      return true;
    }

</script>

<div style="background-color:#BBDEFA;padding: 10px;">   
    <% form_remote_tag :url => { :controller => 'experiences', :action => "store_experience" } do %>
        Details<br/><%= text_area_tag :description, "", :cols => 70, :rows => 5 %><br/><br/>
        Any other comment (optional)<br/><%= text_area_tag :othercomments, "", :cols => 70, :rows => 3 %><br/><br/>
        Email (optional)<br/><%= text_field_tag :email, "", :size => '97' %><br/><br/>
        Name (optional)<br/><%= text_field_tag :name, "", :size => '97' %><br/><br/>
        
        <%= submit_tag "Share Feedback" %>
    <% end %>
    
    <br/><div id="feedback-status" style="background-color:#378314;font-weight:bold;color:#fff;"></div>
</div>


