<div id="post-content">
  <div id="actual-post-content">
                    <div id="parent-post">
                      <div id="post-body">
                        <% if @post.owner == @user %>
                           <div class="subject"> <%= in_place_editor_field :post, 'subject',{}, :size => '80', :text_between_controls => ' or ',:save_text => 'save' %> <%= image_tag '/images/pencil.png' %></div>
                           <div>
                           <span id="url-text" class="url"><%= render :partial => 'update_url_text', :object => @post  %></span><%= image_tag '/images/pencil.png' %>
                           <span id="url-link"><%= render :partial => 'update_url_link', :object => @post %></span>
                           </div>
                           <div><%= in_place_rich_editor_field :post, :description ,{}, :size => '75', :mode => 'tinymce_advanced_with_save_options' %><%= image_tag '/images/pencil.png' %></div>
                        <% else %>
                           <div class="subject"> <%= @post.subject.capitalize %></div>
                           <% if @post.url != "Add a link" %>
                           <div class="url">Check out:<%= link_to h(@post.url) , h(@post.url) %></div>
                           <% end %>
                           <div class="description"> <%= @post.description %></div>
                        <% end %>
                      </div>
                      <span style="color:#0062f6;">
                      <%= "#{@post.owner.display_name} <br/> #{@post.created_at.to_s(:short)}" %></span>
                      <span style="color:#0062f6;float:right;width:8%;">
                      <%= image_tag @post.owner.avatar.url(:thumb) if @post.owner.avatar.file? %></span>
                    </div>
    <div id="tags">
      <strong style="float:left;">Keywords that describe this conversation:</strong><%= image_tag '/images/pencil.png' %>
      <span style="font-size:85%;">(separate multiple keywords with comma)</span>
      <%= in_place_editor_field :post, 'tag_list',{}, :size => '80',:text_between_controls => ' or ',:save_text => 'save' %>

    </div>

    <div id="invitations">
      <strong style="float:left;">Invitations sent:</strong><br/>
    <% engagements = Engagement.find(:all,:conditions => ["post_id = ?", @post.id]) %>
    <% if engagements.size > 1 %>
          <% engagements_by_invite = engagements.group_by { |t| t.invited_by } if engagements %>
          <% if engagements_by_invite %>
              <ul>
                <% engagements_by_invite.sort.each do |invited_by, engagements| %>
                      <li>
                        <% inviter = User.find(invited_by) %>
                        <span class="inviter"><%= inviter.id == @user.id ? "I" : inviter.display_name %> invited</span> <br/>
                        <% invitees = [] %>
                        <% engagements_by_date = engagements.group_by { |t| t.invited_when } if engagements %>
                        <% engagements_by_date.sort.each do |invited_when, engagements| %>
                        <% engagements.each do |engagement| %>
                            <% invitee = User.find(engagement.user_id) %>
                            <% invitees << invitee.display_name(nil,engagement) if @post.owner.id != invitee.id %>
                        <% end %>
                        <% if invitees.length > 0 %>
                        <span class="invitees">
                        <%= invitees.join(", ") %> <%= distance_of_time_in_words(@post.created_at.utc, invited_when.utc) + " later" %></span> <br/>
                        <% invitees = [] %>
                        <% end %>
                        <% end %>
                      </li>

                <% end %>
              </ul>
          <% end %>
     <% else %>
        No one has been invited yet.
    <% end %>
    </div>
                    <div id="comments-section">
                      <div id ="comments-heading" class="sub-heading">Comments (<%= @post.comments.size %>)</div>
                      <div id="comments">                      
                      <% if @post.comments.roots.length > 0 %>
                      <%= render :partial => "/comments/comment", :collection => @post.comments.top, :locals => {:root => 'true',:parent_comment => nil} %>
                      <% else %>
                      <!--No comments yet. -->
                      <% end %>
                      </div>
                    </div>

                    <%= render :partial => 'new_comment' %>
                   
  </div>
</div>