<li><%= link_to "Posts (#{current_user.posts.count})", posts_path if current_user.activated? %></li>

<% if current_user.admin? %>
      <li><% link_to "Groups", {:controller => 'users', :action => 'groups' }%></li>
      <li><%= link_to "Admin", admin_path %></li>
<% end %>
<li><% link_to_remote "Contacts <span id='contacts-count'>(#{current_user.get_address_book_contacts.count})</span>", {:controller => 'users', :action => 'contacts'} %></li>
<li><%= link_to "Contacts", {:controller => 'users', :action => 'contacts'} %></li>
<li><%= link_to "#{h current_user.display_name}", :controller => 'users', :action => 'show' %></li>
<li><%= link_to "Logout", logout_path %></li> 
