<div id="name-request-status" style="color:#ff0000;"></div>
<h2 style ="color: #2B1E24;">Please enter your name</h2>
<%  form_remote_tag :url => { :controller => 'users', :action => "update_name", :uid => params[:uid] },
          :before => "Element.show('n-spinner');",
          :complete => "Element.hide('n-spinner')" do %>
        
      <%=  label_tag 'First Name' %>
      <%= text_field_tag :first_name ,"",  :class =>"mceNoEditor",:size => 20, :maxlength => 20 %>
      <%=  label_tag 'Last Name' %>
      <%= text_field_tag :last_name ,"",  :class =>"mceNoEditor",:size => 20, :maxlength => 20  %><br/>
        

       <p style="margin-top: 10px;">
          <%= submit_tag 'Save' %><%= image_tag 'spinner.gif', :id=>"n-spinner", :style=>"display:none;" %>
        </p>
      <% end %>

        This will be shown only to the participants of this Post.