<div id="right">
 
  <%= render :partial => 'sticky_note' %>
  
  <div id="participants">
  <h3 style="border-bottom:1px solid #fff;">Participants </h3>

    <ul id="participants-list">
    <% unless @post.engagements.empty? %>
        <% @post.engagements.each do |engagement| %>
        <li
            <%= "id='you'" if engagement.invitee.id == @user.id %>> <%=  engagement.invitee.display_name %>
            <% if engagement.invitee.id == @user.id %>
            <div id='notification'>
              <% if engagement.notify_me? %>
                <%= link_to_remote 'Disable Notification', :url => {:controller => 'engagements', :action => 'set_notification', :id => engagement.id, :set => 'false'} %>
              <% else %>
                <%= link_to_remote 'Enable Notification', :url => {:controller => 'engagements', :action => 'set_notification', :id => engagement.id, :set => 'true'} %>
             <% end %>
            </div>
          <% end %>

          </li>
        <% end %>
    <%  end %>
    </ul>

  </div>

</div>
