<div id="dashboard-view">
<%= button_to 'Start New Conversation', new_post_path %>

<% unless @posts.empty? %>
  <div class="heading">My Conversations</div>
<% end %>

<% @posts.each do |post| %>
  <div class="index"><%=  @posts.index(post) + 1 %></div>
   <div class="<%= cycle('listing-line-odd', 'listing-line-even') %> post-item">
    <% if post.url == "Add a link"  %>
      <%= link_to  h(post.subject), post.get_url_for(@user,'show')  %>
    <% else %>
      <%= link_to "#{h(post.subject)}", h(post.url) %>
    <% end %>
    <span class="timestamp">started by '<%= post.owner.display_name == current_user.display_name ? "You" : post.owner.display_name %>' at <%= post.created_at.to_s(:short)  %>

    <% if post.owner == @user %>
    <%= link_to 'Delete', post, :confirm => 'Are you sure? This will wipe out this conversation and all of its comments.', :method => :delete %>
    <% end %>
    </span>
    <%= link_to  "#{get_comments_count(post)} | #{get_participants_count(post)}", post.get_url_for(@user,'show'), :class => 'dashboard-comments' %>
    
   </div>
<% end %>

</div>

