<%= button_to 'Start New Conversation', new_post_path %>
<h3>Listing All your Posts</h3>



<% @posts.each do |post| %>
    <% if post.url.empty?  %>
      <%= h(post.subject) %>
    <% else %>
      <%= link_to "#{h(post.subject)}", h(post.url) %>
    <% end %>

    <%= link_to  "(#{GetCommentCount(post)} comments)", post %> <br/>
        
    <%= link_to 'Edit', edit_post_path(post) %>
    <% link_to 'Destroy', post, :confirm => 'Are you sure? This will delete this post and all of its comments.', :method => :delete %>
    <br/>
<% end %>


<br />

