<div id="dashboard-view">
<%= button_to 'Start New Conversation', new_post_path %>

<% unless @posts.empty? %>
  <div class="heading">My Conversations</div>
<% end %>

<% count = 1 %>
<% @posts.each do |post| %>
  <div class="index"></div>
   <div class="<%= cycle('listing-line-odd', 'listing-line-even') %> post-item">
    <span style="color:green"><%  "#{count}." %> <% count = count + 1 %></span>
    <% if post.url == "Add a link"  %>
      <%= link_to  h(post.subject.capitalize), post.get_url_for(@user,'show')  %>
    <% else %>
      <%= link_to "#{h(post.subject.capitalize)}", h(post.url) %> <span style="font-size:14px;color:green;">(<%= h(post.url) %>)</span>
    <% end %>
    <span class="timestamp">started by <%= post.owner.email == current_user.email ? "You" : post.owner.display_name %>
    <% if post.owner == @user %>
    <%= link_to '[X]', post, :confirm => 'Are you sure? This will wipe out this conversation and all of its comments.', :method => :delete %>
    <% end %>
    </span>
    <span class="poststat"><%= link_to  "#{get_comments_count(post)} | #{get_participants_count(post)} | " + "Last updated "+ "#{time_ago_in_words(post.updated_at)}" + " ago" , post.get_url_for(@user,'show'), :class => 'dashboard-comments' %>
    </span>
   </div>
<% end %>

</div>
