
<h1>Start a Conversation</h1>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <% if current_user.nil? || !current_user.activated? %>
   <p>
    <%= label_tag "Your Email" %><br />
    <%= text_field_tag :from_email,'', :size => 80  %>
  </p>
  <% end %>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject, :size=> 80, :maxlength => 80 %>
  </p>
  
  <p>
    <%= f.label :url , "Website URL" %><br />
    <%= f.text_field :url , :size=> 80, :maxlength => 80 %>
  </p>

  <p>
    <%= f.label :tag_list, "Tags" %><br />
    <%= f.text_field :tag_list , :size=> 80, :maxlength => 80 %><br/>
    <span class ="info"> (space separated) </span>
  </p>

  <p>    
    <% f.check_box :public %><% f.label :public , "Allow Outsiders to Join" %>
  </p>
  
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 93, :rows => 10  %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

