
<h2>Start a Conversation</h2>

<% form_for(@post) do |f| %>  
  <%= f.error_messages :header_message => "Invalid Post!", :message => "Please address the following fields:", :header_tag => :h3 %>
  <% if current_user.nil? || !current_user.activated? %>
   <p>
    <%= label_tag "Your Email" %> (required) <br />
    <%= text_field_tag :email,'', :size => 80  %>
  </p>
  <% end %>
  <p>
    <%= f.label :subject %> (required) <br />
    <%= f.text_field :subject, :size=> 80, :maxlength => 80 %>
  </p>
  
  <p>
    <%= f.label :url , "Link to a Website" %> (optional)<br />
    <%= f.text_field :url , :size=> 80, :maxlength => 80 %>
  </p>

  <p>
    <%= f.label :tag_list, "Tags" %><br />
    <span class ="info">(separate multiple tags with comma) Ex: economics, technology, parenting, arts</span>
    <%= f.text_field :tag_list , :size=> 80, :maxlength => 80 %><br/>    
  </p>

  <p>    
    <% f.check_box :public %><% f.label :public , "Allow Outsiders to Join" %>
  </p>
  
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 93, :rows => 10  %>
  </p>

  <p>
    <%= f.submit 'Create', :class => 'submit' %>
  </p>
<% end %>

