<% if @post.nil? %>
There was a problem locating your Post. <br>
If you clicked on the link from your email, please try copying the pasting the link into the browser.

<% else %>
<div id="content">
  <div id="post">
    <div id="owner-info">
      <div class="owner">started by  <%=h @post.owner.display_name %></div>
    </div>
    <div id="body">
      <div class="subject">  <%= link_to h(@post.subject), h(@post.url) %></div>
      <div class="description"><%=h @post.description %></div>
     </div>
  </div>

  <div id="comments">
    <%= render :partial => @comment = Comment.new, :locals => {:button_type => 'Add Comment'} %>
    
    <% @post.comments.each do |comment| %>
    <div class="<%= cycle('listing-line-odd', 'listing-line-even') %>">
      <span style="font-size :70%;"> comment by <%= "#{comment.user.username} at    #{comment.created_at.to_s(:short)}" %> </span><br/>
        <%= comment.body %><br/><br/>
      <% end %>
    </div>
  </div>

<% end %>

</div>