<% if @post.nil? %>
There was a problem locating your Post. <br>
If you clicked on the link from your email, please try copying the pasting the link into the browser.

<% else %>  

<div id="content">

  <div id="parent-post">
    <div class="owner-info">
      <div class="owner">
      <span style="font-size :70%;"> started by <%= "#{h @post.owner.display_name} <br/>    #{@post.created_at.to_s(:short)}" %> </span>
      </div>
    </div>
    <div id="post-body">
      <% if @post.owner == @user  %>
         <div class="subject">  <%= in_place_editor_field :post, 'subject',{}, :size => '80', :text_between_controls => ' or ',:save_text => 'save' %> </div>
         <div class="url"><%= in_place_editor_field :post, 'url',{}, :size => '80', :text_between_controls => ' or ',:save_text => 'save' %></div>
         <%= in_place_rich_editor_field :post, :description ,{}, :mode => 'tinymce_advanced_with_save_options' %>
      <% else %>
         <div class="subject">  <%= link_to h(@post.subject) , h(@post.url) %></div>
         <div class="description">  <%= @post.description %></div>
      <% end %>
      
      
     
 </div>
   
  <div id="comments">
    <div class="comment-body new-comment">
      <%  @comment = Comment.new(:body => "Click here to add your comment") %>
       <span style="font-size :70%;"> comment by <%= "#{@user.display_name}    #{Time.now.to_s(:short)}" %> </span><br/>
       
      <%= in_place_rich_editor_field :comment, :body ,{},:url => { :controller => :comments, :action => :create, :post_id => @post.id, :uid => params[:uid]}, :mode => 'tinymce_advanced_with_save_options' %>
       
  </div>

   <%= render :partial => "/comments/comment", :collection => @post.comments, :order => 'created_at desc'  %>
  </div>

<% end %>


</div>
