<% if @post.nil? %>
There was a problem locating your Conversation. <br>
If you clicked on the link from your email, please try copying the pasting the link into the browser.

<% else %>
<div id="content">

<p>
  <b>Subject:</b>
  <%=h @post.subject %>
</p>

<p>
  <b>Created by:</b>
  <%=h @post.created_by %>
</p>

<p>
  <b>Url:</b>
  <%=h @post.url %>
</p>

<p>
  <b>Description:</b>
  <%=h @post.description %>
</p>

<% unless @post.comments.empty? %>
  <h3>Listing comments </h3>
<% end %>

<p>
  <% @post.comments.each do |comment| %>
    <%= comment.body %><br/>
  <% end %>
</p>

<h3>Engage </h3>
<%= render :partial => @comment = Comment.new, :locals => {:button_type => 'Add Comment'} %>
  
<% end %>

</div>