<p>
  <b>Subject:</b>
  <%=h @post.subject %>
</p>

<p>
  <b>Created by:</b>
  <%=h @post.created_by %>
</p>

<p>
  <b>Url:</b>
  <%=h @post.url %>
</p>

<p>
  <b>Unique:</b>
  <%=h @post.unique_id %>
</p>

<p>
  <b>Privacy:</b>
  <%=h @post.privacy %>
</p>

<p>
  <b>Note:</b>
  <%=h @post.note %>
</p>

<p>
  <b>Description:</b>
  <%=h @post.description %>
</p>

<% unless @post.comments.empty? %>
  <h3>Listing comments </h3>
<% end %>

<p>
  <% @post.comments.each do |comment| %>
    <%= comment.body %><br/>
  <% end %>
</p>

<h3>Add Comment </h3>
<%= render :partial => @comment = Comment.new, :locals => {:button_type => 'Add Comment'} %>
  
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>