<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>EngageVia, Engage in Conversations & Collaborate with your friends with no signup required</title>
  <%= stylesheet_link_merged :base %> 
</head>
<body onload="clearElements('comment_form')">

<div id="wide-header">
<strong class="logo">
<a href="/"><%= image_tag "evlogo.png" %></a>
</strong>
<ul>
  <li><% link_to "Home", root_url %></li>
  <% if current_user && current_user.activated? %>
    <li><%= link_to "Posts (#{current_user.posts.count})", posts_path if current_user.activated? %></li>

    <% if current_user.admin? %>
          <li><%= link_to "Contacts", {:controller => 'users', :action => 'contacts'} %></li>
          <li><%= link_to "Groups", {:controller => 'users', :action => 'groups' }%></li>
          <li><%= link_to "Admin", admin_path %></li>
    <% end %>    
    <li><%= link_to "#{h current_user.display_name}", :controller => 'users', :action => 'show' %></li>
    <li><%= link_to "Logout", logout_path %></li>    
   <% else %>
     <li id="non-member-name"style="color:#FF60B0;"> <%="Welcome #{@user.display_name}" %></li>
   <% end %>
</ul>
</div>
  <%  if !current_user || !current_user.activated? %>
    <div class="banner" style="height:33px; padding:10px 20px 7px 30px;">
      <i>Why just Share when you can </i> <span style="color:orange;">Engage in Conversations & Collaborate with your friends with no signup required</span>
    </div>
  <% end %>
  <div id="widgets">
    <ul>
      <li id="invite-status"></li>      
      <li><%= image_tag "group_add.png" %> <%= facebox_link_to "Invite Friends",  :url => @post.get_url_for(@user,'send_invites') %></li>
     <%  if !current_user || !current_user.activated? %>
        <li style="color:#FF60B0;float:right;"><%= @post.get_all_member_participants_for_display %></li>
        <li style="float:right;"><%= link_to "Become a Member", new_user_path %> </li>
       </ul>
     <% end %>
  </div>
  
  <% if flash[:notice] || @comment_notice %>
  <div id="flash-notice">
    <p><%= flash[:notice] || @comment_notice %><%  flash[:notice] = nil %></p>
  </div>
<% end %>
  <% if flash[:error] %>
  <div id="flash-error">
    <p><%= flash[:error] %><%  flash[:error] = nil %></p>
  </div>
<% end %>
  <% if @user.non_member? && (@user.first_name == 'firstname' || @user.last_name == 'lastname' )%>
  <div id="name-request">
    <%= render :partial => 'name_request' %>
  </div>
  <% end %>  
<%= yield  %>

<% if controller.action_name == 'show' || controller.action_name == 'ushow' || controller.action_name == 'callback' %>
    <div id="footer-d">
<% else %>
     <div id="footer">
<% end %>
      <ul>
      <li>©2010 EngageVia</li> |
      <li><%=  link_to "Blog" , "http://www.engagevia.com/blog" %></li> |
      <li><%=  link_to "About" , "http://www.engagevia.com/about" %></li> |
      <li><%=  link_to "Contact" , "http://www.engagevia.com/contact" %></li> |
      <li><%=  link_to "Privacy" , "http://www.engagevia.com/privacy" %></li> |
      <li><%=  link_to "Help / FAQ" , "http://www.engagevia.com/help" %></li>
    </ul>
  </div>   
  <%= javascript_include_merged :rest %>
  <script type="text/javascript" src="http://www.plaxo.com/css/m/js/util.js"></script>
  <script type="text/javascript" src="http://www.plaxo.com/css/m/js/basic.js"></script>
  <script type="text/javascript" src="http://www.plaxo.com/css/m/js/abc_launcher.js"></script>  
</body>
</html>
